<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cw.common.dao.persistence.sm.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.cw.common.dao.domain.sm.Role" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="feature" property="feature" jdbcType="VARCHAR" />
    <result column="mod_staff" property="modStaff" jdbcType="INTEGER" />
    <result column="mod_date" property="modDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <if test="oredCriteria != null" >
        <foreach collection="oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </if>
      <if test="roleId != null and roleId != ''" >
         and role_id = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="roleCode != null and roleCode != ''" >
         and role_code = #{roleCode,jdbcType=VARCHAR}
      </if>
      <if test="roleCodeRange != null and roleCodeRange != ''" >
         and role_code like #{roleCodeRange,jdbcType=VARCHAR}
      </if>
      <if test="roleName != null and roleName != ''" >
         and role_name = #{roleName,jdbcType=VARCHAR}
      </if>
      <if test="roleNameRange != null and roleNameRange != ''" >
         and role_name like #{roleNameRange,jdbcType=VARCHAR}
      </if>
      <if test="status != null and status != ''" >
         and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="statusRange != null and statusRange != ''" >
         and status like #{statusRange,jdbcType=VARCHAR}
      </if>
      <if test="feature != null and feature != ''" >
         and feature = #{feature,jdbcType=VARCHAR}
      </if>
      <if test="featureRange != null and featureRange != ''" >
         and feature like #{featureRange,jdbcType=VARCHAR}
      </if>
      <if test="modStaff != null and modStaff != ''" >
         and mod_staff = #{modStaff,jdbcType=INTEGER}
      </if>
      <if test="modDate != null and modDate != ''" >
         and mod_date = #{modDate,jdbcType=TIMESTAMP}
      </if>
      <if test="modDateRange1 != null and modDateRange1 != ''" >
         and mod_date &gt;= #{modDateRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="modDateRange2 != null and modDateRange2 != ''" >
         and mod_date &lt;= #{modDateRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="extracClause != null and extracClause != ''" >
         and  ${extracClause} 
      </if>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <if test="example.oredCriteria != null" >
        <foreach collection="example.oredCriteria" item="criteria" separator="or" >
          <if test="criteria.valid" >
            <trim prefix="(" suffix=")" prefixOverrides="and" >
              <foreach collection="criteria.criteria" item="criterion" >
                <choose >
                  <when test="criterion.noValue" >
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue" >
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue" >
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue" >
                    and ${criterion.condition}
                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </if>
      <if test="example.roleId != null and example.roleId != ''" >
         and role_id = #{example.roleId,jdbcType=INTEGER}
      </if>
      <if test="example.roleCode != null and example.roleCode != ''" >
         and role_code = #{example.roleCode,jdbcType=VARCHAR}
      </if>
      <if test="example.roleCodeRange != null and example.roleCodeRange != ''" >
         and role_code like #{example.roleCodeRange,jdbcType=VARCHAR}
      </if>
      <if test="example.roleName != null and example.roleName != ''" >
         and role_name = #{example.roleName,jdbcType=VARCHAR}
      </if>
      <if test="example.roleNameRange != null and example.roleNameRange != ''" >
         and role_name like #{example.roleNameRange,jdbcType=VARCHAR}
      </if>
      <if test="example.status != null and example.status != ''" >
         and status = #{example.status,jdbcType=VARCHAR}
      </if>
      <if test="example.statusRange != null and example.statusRange != ''" >
         and status like #{example.statusRange,jdbcType=VARCHAR}
      </if>
      <if test="example.feature != null and example.feature != ''" >
         and feature = #{example.feature,jdbcType=VARCHAR}
      </if>
      <if test="example.featureRange != null and example.featureRange != ''" >
         and feature like #{example.featureRange,jdbcType=VARCHAR}
      </if>
      <if test="example.modStaff != null and example.modStaff != ''" >
         and mod_staff = #{example.modStaff,jdbcType=INTEGER}
      </if>
      <if test="example.modDate != null and example.modDate != ''" >
         and mod_date = #{example.modDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.modDateRange1 != null and example.modDateRange1 != ''" >
         and mod_date &gt;= #{example.modDateRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="example.modDateRange2 != null and example.modDateRange2 != ''" >
         and mod_date &lt;= #{example.modDateRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="example.extracClause != null and example.extracClause != ''" >
         and  ${example.extracClause} 
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    role_id, role_code, role_name, status, feature, mod_staff, mod_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cw.common.dao.domain.sm.RoleCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_sm_role a 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_sm_role a 
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sm_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cw.common.dao.domain.sm.RoleCriteria" >
    delete from tb_sm_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cw.common.dao.domain.sm.Role" >
    <selectKey resultType="java.lang.Integer" keyProperty="roleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_sm_role (role_code, role_name, status, 
      feature, mod_staff, mod_date
      )
    values (#{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{feature,jdbcType=VARCHAR}, #{modStaff,jdbcType=INTEGER}, #{modDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cw.common.dao.domain.sm.Role" >
    <selectKey resultType="java.lang.Integer" keyProperty="roleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_sm_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="modStaff != null" >
        mod_staff,
      </if>
      <if test="modDate != null" >
        mod_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="modStaff != null" >
        #{modStaff,jdbcType=INTEGER},
      </if>
      <if test="modDate != null" >
        #{modDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cw.common.dao.domain.sm.RoleCriteria" resultType="java.lang.Integer" >
    select count(*) from tb_sm_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sm_role
    <set >
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleCode != null" >
        role_code = #{record.roleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.roleName != null" >
        role_name = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.feature != null" >
        feature = #{record.feature,jdbcType=VARCHAR},
      </if>
      <if test="record.modStaff != null" >
        mod_staff = #{record.modStaff,jdbcType=INTEGER},
      </if>
      <if test="record.modDate != null" >
        mod_date = #{record.modDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sm_role
    set role_id = #{record.roleId,jdbcType=INTEGER},
      role_code = #{record.roleCode,jdbcType=VARCHAR},
      role_name = #{record.roleName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      feature = #{record.feature,jdbcType=VARCHAR},
      mod_staff = #{record.modStaff,jdbcType=INTEGER},
      mod_date = #{record.modDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cw.common.dao.domain.sm.Role" >
    update tb_sm_role
    <set >
      <if test="roleCode != null" >
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="modStaff != null" >
        mod_staff = #{modStaff,jdbcType=INTEGER},
      </if>
      <if test="modDate != null" >
        mod_date = #{modDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cw.common.dao.domain.sm.Role" >
    update tb_sm_role
    set role_code = #{roleCode,jdbcType=VARCHAR},
      role_name = #{roleName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      mod_staff = #{modStaff,jdbcType=INTEGER},
      mod_date = #{modDate,jdbcType=TIMESTAMP}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <resultMap id="ResultMapWithTranslation" type="com.cw.platform.util.CamelCaseHashMap" extends="BaseResultMap" />
  <sql id="Translation_Column_List" />
  <select id="selectByExampleWithTranslation" resultMap="ResultMapWithTranslation" parameterType="com.cw.common.dao.domain.sm.RoleCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    <if test="extracSelectColunm != null and extracSelectColunm != ''" >
       ,  ${extracSelectColunm} 
    </if>
    from tb_sm_role a 
    <if test="extracTable != null and extracTable != ''" >
       ${extracTable} 
    </if>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insertListSelective" parameterType="map" >
    insert into tb_sm_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.roleId != null" >
        role_id,
      </if>
      <if test="record.roleCode != null" >
        role_code,
      </if>
      <if test="record.roleName != null" >
        role_name,
      </if>
      <if test="record.status != null" >
        status,
      </if>
      <if test="record.feature != null" >
        feature,
      </if>
      <if test="record.modStaff != null" >
        mod_staff,
      </if>
      <if test="record.modDate != null" >
        mod_date,
      </if>
    </trim>
    <foreach collection="records" item="listItem" open="values " close=" " separator="," >
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="record.roleId != null" >
          #{listItem.roleId,jdbcType=INTEGER},
        </if>
        <if test="record.roleCode != null" >
          #{listItem.roleCode,jdbcType=VARCHAR},
        </if>
        <if test="record.roleName != null" >
          #{listItem.roleName,jdbcType=VARCHAR},
        </if>
        <if test="record.status != null" >
          #{listItem.status,jdbcType=VARCHAR},
        </if>
        <if test="record.feature != null" >
          #{listItem.feature,jdbcType=VARCHAR},
        </if>
        <if test="record.modStaff != null" >
          #{listItem.modStaff,jdbcType=INTEGER},
        </if>
        <if test="record.modDate != null" >
          #{listItem.modDate,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
  <insert id="replaceListSelective" parameterType="map" >
    replace into tb_sm_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.roleId != null" >
        role_id,
      </if>
      <if test="record.roleCode != null" >
        role_code,
      </if>
      <if test="record.roleName != null" >
        role_name,
      </if>
      <if test="record.status != null" >
        status,
      </if>
      <if test="record.feature != null" >
        feature,
      </if>
      <if test="record.modStaff != null" >
        mod_staff,
      </if>
      <if test="record.modDate != null" >
        mod_date,
      </if>
    </trim>
    <foreach collection="records" item="listItem" open="values " close=" " separator="," >
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="record.roleId != null" >
          #{listItem.roleId,jdbcType=INTEGER},
        </if>
        <if test="record.roleCode != null" >
          #{listItem.roleCode,jdbcType=VARCHAR},
        </if>
        <if test="record.roleName != null" >
          #{listItem.roleName,jdbcType=VARCHAR},
        </if>
        <if test="record.status != null" >
          #{listItem.status,jdbcType=VARCHAR},
        </if>
        <if test="record.feature != null" >
          #{listItem.feature,jdbcType=VARCHAR},
        </if>
        <if test="record.modStaff != null" >
          #{listItem.modStaff,jdbcType=INTEGER},
        </if>
        <if test="record.modDate != null" >
          #{listItem.modDate,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
  <insert id="replaceSelective" parameterType="com.cw.common.dao.domain.sm.Role" >
    replace into tb_sm_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="modStaff != null" >
        mod_staff,
      </if>
      <if test="modDate != null" >
        mod_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="modStaff != null" >
        #{modStaff,jdbcType=INTEGER},
      </if>
      <if test="modDate != null" >
        #{modDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertOnDuplicateKeySelective" parameterType="com.cw.common.dao.domain.sm.Role" >
    insert into tb_sm_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="modStaff != null" >
        mod_staff,
      </if>
      <if test="modDate != null" >
        mod_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="modStaff != null" >
        #{modStaff,jdbcType=INTEGER},
      </if>
      <if test="modDate != null" >
        #{modDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
     on duplicate key update 
    <trim suffixOverrides="," >
      <if test="roleId != null" >
        role_id=values(role_id),
      </if>
      <if test="roleCode != null" >
        role_code=values(role_code),
      </if>
      <if test="roleName != null" >
        role_name=values(role_name),
      </if>
      <if test="status != null" >
        status=values(status),
      </if>
      <if test="feature != null" >
        feature=values(feature),
      </if>
      <if test="modStaff != null" >
        mod_staff=values(mod_staff),
      </if>
      <if test="modDate != null" >
        mod_date=values(mod_date),
      </if>
    </trim>
  </insert>
  <insert id="insertListOnDuplicateKeySelective" parameterType="map" >
    insert into tb_sm_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="record.roleId != null" >
        role_id,
      </if>
      <if test="record.roleCode != null" >
        role_code,
      </if>
      <if test="record.roleName != null" >
        role_name,
      </if>
      <if test="record.status != null" >
        status,
      </if>
      <if test="record.feature != null" >
        feature,
      </if>
      <if test="record.modStaff != null" >
        mod_staff,
      </if>
      <if test="record.modDate != null" >
        mod_date,
      </if>
    </trim>
    <foreach collection="records" item="listItem" open="values " close=" " separator="," >
      <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="record.roleId != null" >
          #{listItem.roleId,jdbcType=INTEGER},
        </if>
        <if test="record.roleCode != null" >
          #{listItem.roleCode,jdbcType=VARCHAR},
        </if>
        <if test="record.roleName != null" >
          #{listItem.roleName,jdbcType=VARCHAR},
        </if>
        <if test="record.status != null" >
          #{listItem.status,jdbcType=VARCHAR},
        </if>
        <if test="record.feature != null" >
          #{listItem.feature,jdbcType=VARCHAR},
        </if>
        <if test="record.modStaff != null" >
          #{listItem.modStaff,jdbcType=INTEGER},
        </if>
        <if test="record.modDate != null" >
          #{listItem.modDate,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
     on duplicate key update 
    <trim suffixOverrides="," >
      <if test="record.roleId != null" >
        role_id=values(role_id),
      </if>
      <if test="record.roleCode != null" >
        role_code=values(role_code),
      </if>
      <if test="record.roleName != null" >
        role_name=values(role_name),
      </if>
      <if test="record.status != null" >
        status=values(status),
      </if>
      <if test="record.feature != null" >
        feature=values(feature),
      </if>
      <if test="record.modStaff != null" >
        mod_staff=values(mod_staff),
      </if>
      <if test="record.modDate != null" >
        mod_date=values(mod_date),
      </if>
    </trim>
  </insert>
</mapper>