<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhtop.buss.common.dao.persistence.PayMapper">
  <resultMap id="BaseResultMap" type="com.rhtop.buss.common.dao.domain.Pay">
    <id column="pay_info_id" jdbcType="VARCHAR" property="payInfoId" />
    <result column="card_num" jdbcType="VARCHAR" property="cardNum" />
    <result column="card_name" jdbcType="VARCHAR" property="cardName" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_tel" jdbcType="VARCHAR" property="bankTel" />
    <result column="bank_addr" jdbcType="VARCHAR" property="bankAddr" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <if test="oredCriteria != null">
        <foreach collection="oredCriteria" item="criteria" separator="or">
          <if test="criteria.valid">
            <trim prefix="(" prefixOverrides="and" suffix=")">
              <foreach collection="criteria.criteria" item="criterion">
                <choose>
                  <when test="criterion.noValue">
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue">
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue">
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue">
                    and ${criterion.condition}
                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </if>
      <if test="payInfoId != null and payInfoId != ''">
         and pay_info_id = #{payInfoId,jdbcType=VARCHAR}
      </if>
      <if test="payInfoIdRange != null and payInfoIdRange != ''">
         and pay_info_id like concat('%',#{payInfoIdRange},'%')
      </if>
      <if test="cardNum != null and cardNum != ''">
         and card_num = #{cardNum,jdbcType=VARCHAR}
      </if>
      <if test="cardNumRange != null and cardNumRange != ''">
         and card_num like concat('%',#{cardNumRange},'%')
      </if>
      <if test="cardName != null and cardName != ''">
         and card_name = #{cardName,jdbcType=VARCHAR}
      </if>
      <if test="cardNameRange != null and cardNameRange != ''">
         and card_name like concat('%',#{cardNameRange},'%')
      </if>
      <if test="alias != null and alias != ''">
         and alias = #{alias,jdbcType=VARCHAR}
      </if>
      <if test="aliasRange != null and aliasRange != ''">
         and alias like concat('%',#{aliasRange},'%')
      </if>
      <if test="bankName != null and bankName != ''">
         and bank_name = #{bankName,jdbcType=VARCHAR}
      </if>
      <if test="bankNameRange != null and bankNameRange != ''">
         and bank_name like concat('%',#{bankNameRange},'%')
      </if>
      <if test="bankTel != null and bankTel != ''">
         and bank_tel = #{bankTel,jdbcType=VARCHAR}
      </if>
      <if test="bankTelRange != null and bankTelRange != ''">
         and bank_tel like concat('%',#{bankTelRange},'%')
      </if>
      <if test="bankAddr != null and bankAddr != ''">
         and bank_addr = #{bankAddr,jdbcType=VARCHAR}
      </if>
      <if test="bankAddrRange != null and bankAddrRange != ''">
         and bank_addr like concat('%',#{bankAddrRange},'%')
      </if>
      <if test="createUser != null and createUser != ''">
         and create_user = #{createUser,jdbcType=VARCHAR}
      </if>
      <if test="createUserRange != null and createUserRange != ''">
         and create_user like concat('%',#{createUserRange},'%')
      </if>
      <if test="createTime != null and createTime != ''">
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeRange1 != null and createTimeRange1 != ''">
         and create_time &gt;= #{createTimeRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeRange2 != null and createTimeRange2 != ''">
         and create_time &lt;= #{createTimeRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUser != null and updateUser != ''">
         and update_user = #{updateUser,jdbcType=VARCHAR}
      </if>
      <if test="updateUserRange != null and updateUserRange != ''">
         and update_user like concat('%',#{updateUserRange},'%')
      </if>
      <if test="updateTime != null and updateTime != ''">
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTimeRange1 != null and updateTimeRange1 != ''">
         and update_time &gt;= #{updateTimeRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTimeRange2 != null and updateTimeRange2 != ''">
         and update_time &lt;= #{updateTimeRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="extracClause != null and extracClause != ''">
         and  ${extracClause} 
      </if>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <if test="example.oredCriteria != null">
        <foreach collection="example.oredCriteria" item="criteria" separator="or">
          <if test="criteria.valid">
            <trim prefix="(" prefixOverrides="and" suffix=")">
              <foreach collection="criteria.criteria" item="criterion">
                <choose>
                  <when test="criterion.noValue">
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue">
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue">
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue">
                    and ${criterion.condition}
                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </if>
      <if test="example.payInfoId != null and example.payInfoId != ''">
         and pay_info_id = #{example.payInfoId,jdbcType=VARCHAR}
      </if>
      <if test="example.payInfoIdRange != null and example.payInfoIdRange != ''">
         and pay_info_id like concat('%',#{example.payInfoIdRange},'%')
      </if>
      <if test="example.cardNum != null and example.cardNum != ''">
         and card_num = #{example.cardNum,jdbcType=VARCHAR}
      </if>
      <if test="example.cardNumRange != null and example.cardNumRange != ''">
         and card_num like concat('%',#{example.cardNumRange},'%')
      </if>
      <if test="example.cardName != null and example.cardName != ''">
         and card_name = #{example.cardName,jdbcType=VARCHAR}
      </if>
      <if test="example.cardNameRange != null and example.cardNameRange != ''">
         and card_name like concat('%',#{example.cardNameRange},'%')
      </if>
      <if test="example.alias != null and example.alias != ''">
         and alias = #{example.alias,jdbcType=VARCHAR}
      </if>
      <if test="example.aliasRange != null and example.aliasRange != ''">
         and alias like concat('%',#{example.aliasRange},'%')
      </if>
      <if test="example.bankName != null and example.bankName != ''">
         and bank_name = #{example.bankName,jdbcType=VARCHAR}
      </if>
      <if test="example.bankNameRange != null and example.bankNameRange != ''">
         and bank_name like concat('%',#{example.bankNameRange},'%')
      </if>
      <if test="example.bankTel != null and example.bankTel != ''">
         and bank_tel = #{example.bankTel,jdbcType=VARCHAR}
      </if>
      <if test="example.bankTelRange != null and example.bankTelRange != ''">
         and bank_tel like concat('%',#{example.bankTelRange},'%')
      </if>
      <if test="example.bankAddr != null and example.bankAddr != ''">
         and bank_addr = #{example.bankAddr,jdbcType=VARCHAR}
      </if>
      <if test="example.bankAddrRange != null and example.bankAddrRange != ''">
         and bank_addr like concat('%',#{example.bankAddrRange},'%')
      </if>
      <if test="example.createUser != null and example.createUser != ''">
         and create_user = #{example.createUser,jdbcType=VARCHAR}
      </if>
      <if test="example.createUserRange != null and example.createUserRange != ''">
         and create_user like concat('%',#{example.createUserRange},'%')
      </if>
      <if test="example.createTime != null and example.createTime != ''">
         and create_time = #{example.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.createTimeRange1 != null and example.createTimeRange1 != ''">
         and create_time &gt;= #{example.createTimeRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="example.createTimeRange2 != null and example.createTimeRange2 != ''">
         and create_time &lt;= #{example.createTimeRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="example.updateUser != null and example.updateUser != ''">
         and update_user = #{example.updateUser,jdbcType=VARCHAR}
      </if>
      <if test="example.updateUserRange != null and example.updateUserRange != ''">
         and update_user like concat('%',#{example.updateUserRange},'%')
      </if>
      <if test="example.updateTime != null and example.updateTime != ''">
         and update_time = #{example.updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.updateTimeRange1 != null and example.updateTimeRange1 != ''">
         and update_time &gt;= #{example.updateTimeRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="example.updateTimeRange2 != null and example.updateTimeRange2 != ''">
         and update_time &lt;= #{example.updateTimeRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="example.extracClause != null and example.extracClause != ''">
         and  ${example.extracClause} 
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pay_info_id, card_num, card_name, alias, bank_name, bank_tel, bank_addr, create_user, 
    create_time, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.rhtop.buss.common.dao.domain.PayCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from buss_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from buss_pay
    where pay_info_id = #{payInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from buss_pay
    where pay_info_id = #{payInfoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rhtop.buss.common.dao.domain.PayCriteria">
    delete from buss_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rhtop.buss.common.dao.domain.Pay">
    insert into buss_pay (pay_info_id, card_num, card_name, 
      alias, bank_name, bank_tel, 
      bank_addr, create_user, create_time, 
      update_user, update_time)
    values (#{payInfoId,jdbcType=VARCHAR}, #{cardNum,jdbcType=VARCHAR}, #{cardName,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{bankTel,jdbcType=VARCHAR}, 
      #{bankAddr,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rhtop.buss.common.dao.domain.Pay">
    insert into buss_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payInfoId != null">
        pay_info_id,
      </if>
      <if test="cardNum != null">
        card_num,
      </if>
      <if test="cardName != null">
        card_name,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankTel != null">
        bank_tel,
      </if>
      <if test="bankAddr != null">
        bank_addr,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payInfoId != null">
        #{payInfoId,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null">
        #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankTel != null">
        #{bankTel,jdbcType=VARCHAR},
      </if>
      <if test="bankAddr != null">
        #{bankAddr,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rhtop.buss.common.dao.domain.PayCriteria" resultType="java.lang.Long">
    select count(*) from buss_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update buss_pay
    <set>
      <if test="record.payInfoId != null">
        pay_info_id = #{record.payInfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNum != null">
        card_num = #{record.cardNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cardName != null">
        card_name = #{record.cardName,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null">
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null">
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankTel != null">
        bank_tel = #{record.bankTel,jdbcType=VARCHAR},
      </if>
      <if test="record.bankAddr != null">
        bank_addr = #{record.bankAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update buss_pay
    set pay_info_id = #{record.payInfoId,jdbcType=VARCHAR},
      card_num = #{record.cardNum,jdbcType=VARCHAR},
      card_name = #{record.cardName,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      bank_tel = #{record.bankTel,jdbcType=VARCHAR},
      bank_addr = #{record.bankAddr,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rhtop.buss.common.dao.domain.Pay">
    update buss_pay
    <set>
      <if test="cardNum != null">
        card_num = #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        card_name = #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankTel != null">
        bank_tel = #{bankTel,jdbcType=VARCHAR},
      </if>
      <if test="bankAddr != null">
        bank_addr = #{bankAddr,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pay_info_id = #{payInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rhtop.buss.common.dao.domain.Pay">
    update buss_pay
    set card_num = #{cardNum,jdbcType=VARCHAR},
      card_name = #{cardName,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_tel = #{bankTel,jdbcType=VARCHAR},
      bank_addr = #{bankAddr,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where pay_info_id = #{payInfoId,jdbcType=VARCHAR}
  </update>
  <insert id="insertListSelective" parameterType="map">
    insert into buss_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.payInfoId != null">
        pay_info_id,
      </if>
      <if test="record.cardNum != null">
        card_num,
      </if>
      <if test="record.cardName != null">
        card_name,
      </if>
      <if test="record.alias != null">
        alias,
      </if>
      <if test="record.bankName != null">
        bank_name,
      </if>
      <if test="record.bankTel != null">
        bank_tel,
      </if>
      <if test="record.bankAddr != null">
        bank_addr,
      </if>
      <if test="record.createUser != null">
        create_user,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.updateUser != null">
        update_user,
      </if>
      <if test="record.updateTime != null">
        update_time,
      </if>
    </trim>
    <foreach close=" " collection="records" item="listItem" open="values " separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="record.payInfoId != null">
          #{listItem.payInfoId,jdbcType=VARCHAR},
        </if>
        <if test="record.cardNum != null">
          #{listItem.cardNum,jdbcType=VARCHAR},
        </if>
        <if test="record.cardName != null">
          #{listItem.cardName,jdbcType=VARCHAR},
        </if>
        <if test="record.alias != null">
          #{listItem.alias,jdbcType=VARCHAR},
        </if>
        <if test="record.bankName != null">
          #{listItem.bankName,jdbcType=VARCHAR},
        </if>
        <if test="record.bankTel != null">
          #{listItem.bankTel,jdbcType=VARCHAR},
        </if>
        <if test="record.bankAddr != null">
          #{listItem.bankAddr,jdbcType=VARCHAR},
        </if>
        <if test="record.createUser != null">
          #{listItem.createUser,jdbcType=VARCHAR},
        </if>
        <if test="record.createTime != null">
          #{listItem.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.updateUser != null">
          #{listItem.updateUser,jdbcType=VARCHAR},
        </if>
        <if test="record.updateTime != null">
          #{listItem.updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
  <insert id="replaceListSelective" parameterType="map">
    replace into buss_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.payInfoId != null">
        pay_info_id,
      </if>
      <if test="record.cardNum != null">
        card_num,
      </if>
      <if test="record.cardName != null">
        card_name,
      </if>
      <if test="record.alias != null">
        alias,
      </if>
      <if test="record.bankName != null">
        bank_name,
      </if>
      <if test="record.bankTel != null">
        bank_tel,
      </if>
      <if test="record.bankAddr != null">
        bank_addr,
      </if>
      <if test="record.createUser != null">
        create_user,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.updateUser != null">
        update_user,
      </if>
      <if test="record.updateTime != null">
        update_time,
      </if>
    </trim>
    <foreach close=" " collection="records" item="listItem" open="values " separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="record.payInfoId != null">
          #{listItem.payInfoId,jdbcType=VARCHAR},
        </if>
        <if test="record.cardNum != null">
          #{listItem.cardNum,jdbcType=VARCHAR},
        </if>
        <if test="record.cardName != null">
          #{listItem.cardName,jdbcType=VARCHAR},
        </if>
        <if test="record.alias != null">
          #{listItem.alias,jdbcType=VARCHAR},
        </if>
        <if test="record.bankName != null">
          #{listItem.bankName,jdbcType=VARCHAR},
        </if>
        <if test="record.bankTel != null">
          #{listItem.bankTel,jdbcType=VARCHAR},
        </if>
        <if test="record.bankAddr != null">
          #{listItem.bankAddr,jdbcType=VARCHAR},
        </if>
        <if test="record.createUser != null">
          #{listItem.createUser,jdbcType=VARCHAR},
        </if>
        <if test="record.createTime != null">
          #{listItem.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.updateUser != null">
          #{listItem.updateUser,jdbcType=VARCHAR},
        </if>
        <if test="record.updateTime != null">
          #{listItem.updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
  <insert id="replaceSelective" parameterType="com.rhtop.buss.common.dao.domain.Pay">
    replace into buss_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payInfoId != null">
        pay_info_id,
      </if>
      <if test="cardNum != null">
        card_num,
      </if>
      <if test="cardName != null">
        card_name,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankTel != null">
        bank_tel,
      </if>
      <if test="bankAddr != null">
        bank_addr,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payInfoId != null">
        #{payInfoId,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null">
        #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankTel != null">
        #{bankTel,jdbcType=VARCHAR},
      </if>
      <if test="bankAddr != null">
        #{bankAddr,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertOnDuplicateKeySelective" parameterType="com.rhtop.buss.common.dao.domain.Pay">
    insert into buss_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payInfoId != null">
        pay_info_id,
      </if>
      <if test="cardNum != null">
        card_num,
      </if>
      <if test="cardName != null">
        card_name,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankTel != null">
        bank_tel,
      </if>
      <if test="bankAddr != null">
        bank_addr,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payInfoId != null">
        #{payInfoId,jdbcType=VARCHAR},
      </if>
      <if test="cardNum != null">
        #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankTel != null">
        #{bankTel,jdbcType=VARCHAR},
      </if>
      <if test="bankAddr != null">
        #{bankAddr,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
     on duplicate key update 
    <trim suffixOverrides=",">
      <if test="payInfoId != null">
        pay_info_id=values(pay_info_id),
      </if>
      <if test="cardNum != null">
        card_num=values(card_num),
      </if>
      <if test="cardName != null">
        card_name=values(card_name),
      </if>
      <if test="alias != null">
        alias=values(alias),
      </if>
      <if test="bankName != null">
        bank_name=values(bank_name),
      </if>
      <if test="bankTel != null">
        bank_tel=values(bank_tel),
      </if>
      <if test="bankAddr != null">
        bank_addr=values(bank_addr),
      </if>
      <if test="createUser != null">
        create_user=values(create_user),
      </if>
      <if test="createTime != null">
        create_time=values(create_time),
      </if>
      <if test="updateUser != null">
        update_user=values(update_user),
      </if>
      <if test="updateTime != null">
        update_time=values(update_time),
      </if>
    </trim>
  </insert>
  <insert id="insertListOnDuplicateKeySelective" parameterType="map">
    insert into buss_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.payInfoId != null">
        pay_info_id,
      </if>
      <if test="record.cardNum != null">
        card_num,
      </if>
      <if test="record.cardName != null">
        card_name,
      </if>
      <if test="record.alias != null">
        alias,
      </if>
      <if test="record.bankName != null">
        bank_name,
      </if>
      <if test="record.bankTel != null">
        bank_tel,
      </if>
      <if test="record.bankAddr != null">
        bank_addr,
      </if>
      <if test="record.createUser != null">
        create_user,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.updateUser != null">
        update_user,
      </if>
      <if test="record.updateTime != null">
        update_time,
      </if>
    </trim>
    <foreach close=" " collection="records" item="listItem" open="values " separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="record.payInfoId != null">
          #{listItem.payInfoId,jdbcType=VARCHAR},
        </if>
        <if test="record.cardNum != null">
          #{listItem.cardNum,jdbcType=VARCHAR},
        </if>
        <if test="record.cardName != null">
          #{listItem.cardName,jdbcType=VARCHAR},
        </if>
        <if test="record.alias != null">
          #{listItem.alias,jdbcType=VARCHAR},
        </if>
        <if test="record.bankName != null">
          #{listItem.bankName,jdbcType=VARCHAR},
        </if>
        <if test="record.bankTel != null">
          #{listItem.bankTel,jdbcType=VARCHAR},
        </if>
        <if test="record.bankAddr != null">
          #{listItem.bankAddr,jdbcType=VARCHAR},
        </if>
        <if test="record.createUser != null">
          #{listItem.createUser,jdbcType=VARCHAR},
        </if>
        <if test="record.createTime != null">
          #{listItem.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.updateUser != null">
          #{listItem.updateUser,jdbcType=VARCHAR},
        </if>
        <if test="record.updateTime != null">
          #{listItem.updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
     on duplicate key update 
    <trim suffixOverrides=",">
      <if test="record.payInfoId != null">
        pay_info_id=values(pay_info_id),
      </if>
      <if test="record.cardNum != null">
        card_num=values(card_num),
      </if>
      <if test="record.cardName != null">
        card_name=values(card_name),
      </if>
      <if test="record.alias != null">
        alias=values(alias),
      </if>
      <if test="record.bankName != null">
        bank_name=values(bank_name),
      </if>
      <if test="record.bankTel != null">
        bank_tel=values(bank_tel),
      </if>
      <if test="record.bankAddr != null">
        bank_addr=values(bank_addr),
      </if>
      <if test="record.createUser != null">
        create_user=values(create_user),
      </if>
      <if test="record.createTime != null">
        create_time=values(create_time),
      </if>
      <if test="record.updateUser != null">
        update_user=values(update_user),
      </if>
      <if test="record.updateTime != null">
        update_time=values(update_time),
      </if>
    </trim>
  </insert>
  <select id="listPage" parameterType="com.rhtop.buss.common.dao.domain.PayCriteria" resultMap="BaseResultMap">
    select
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from buss_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>