<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhtop.buss.common.dao.persistence.RelMdCategoryMapper">
  <resultMap id="BaseResultMap" type="com.rhtop.buss.common.dao.domain.RelMdCategory">
    <id column="rel_md_category_id" jdbcType="CHAR" property="relMdCategoryId" />
    <result column="md_id" jdbcType="CHAR" property="mdId" />
    <result column="md_name" jdbcType="CHAR" property="mdName" />
    <result column="category_id" jdbcType="CHAR" property="categoryId" />
    <result column="md_phone" jdbcType="CHAR" property="mdPhone" />
    <result column="md_email" jdbcType="CHAR" property="mdEmail" />
    <result column="create_user" jdbcType="CHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="CHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <if test="oredCriteria != null">
        <foreach collection="oredCriteria" item="criteria" separator="or">
          <if test="criteria.valid">
            <trim prefix="(" prefixOverrides="and" suffix=")">
              <foreach collection="criteria.criteria" item="criterion">
                <choose>
                  <when test="criterion.noValue">
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue">
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue">
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue">
                    and ${criterion.condition}
                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </if>
      <if test="relMdCategoryId != null and relMdCategoryId != ''">
         and rel_md_category_id = #{relMdCategoryId,jdbcType=CHAR}
      </if>
      <if test="relMdCategoryIdRange != null and relMdCategoryIdRange != ''">
         and rel_md_category_id like concat('%',#{relMdCategoryIdRange},'%')
      </if>
      <if test="mdId != null and mdId != ''">
         and md_id = #{mdId,jdbcType=CHAR}
      </if>
      <if test="mdIdRange != null and mdIdRange != ''">
         and md_id like concat('%',#{mdIdRange},'%')
      </if>
      <if test="mdName != null and mdName != ''">
         and md_name = #{mdName,jdbcType=CHAR}
      </if>
      <if test="mdNameRange != null and mdNameRange != ''">
         and md_name like concat('%',#{mdNameRange},'%')
      </if>
      <if test="categoryId != null and categoryId != ''">
         and category_id = #{categoryId,jdbcType=CHAR}
      </if>
      <if test="categoryIdRange != null and categoryIdRange != ''">
         and category_id like concat('%',#{categoryIdRange},'%')
      </if>
      <if test="mdPhone != null and mdPhone != ''">
         and md_phone = #{mdPhone,jdbcType=CHAR}
      </if>
      <if test="mdPhoneRange != null and mdPhoneRange != ''">
         and md_phone like concat('%',#{mdPhoneRange},'%')
      </if>
      <if test="mdEmail != null and mdEmail != ''">
         and md_email = #{mdEmail,jdbcType=CHAR}
      </if>
      <if test="mdEmailRange != null and mdEmailRange != ''">
         and md_email like concat('%',#{mdEmailRange},'%')
      </if>
      <if test="createUser != null and createUser != ''">
         and create_user = #{createUser,jdbcType=CHAR}
      </if>
      <if test="createUserRange != null and createUserRange != ''">
         and create_user like concat('%',#{createUserRange},'%')
      </if>
      <if test="createTime != null and createTime != ''">
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeRange1 != null and createTimeRange1 != ''">
         and create_time &gt;= #{createTimeRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeRange2 != null and createTimeRange2 != ''">
         and create_time &lt;= #{createTimeRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="updateUser != null and updateUser != ''">
         and update_user = #{updateUser,jdbcType=CHAR}
      </if>
      <if test="updateUserRange != null and updateUserRange != ''">
         and update_user like concat('%',#{updateUserRange},'%')
      </if>
      <if test="updateTime != null and updateTime != ''">
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTimeRange1 != null and updateTimeRange1 != ''">
         and update_time &gt;= #{updateTimeRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTimeRange2 != null and updateTimeRange2 != ''">
         and update_time &lt;= #{updateTimeRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="extracClause != null and extracClause != ''">
         and  ${extracClause} 
      </if>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <if test="example.oredCriteria != null">
        <foreach collection="example.oredCriteria" item="criteria" separator="or">
          <if test="criteria.valid">
            <trim prefix="(" prefixOverrides="and" suffix=")">
              <foreach collection="criteria.criteria" item="criterion">
                <choose>
                  <when test="criterion.noValue">
                    and ${criterion.condition}
                  </when>
                  <when test="criterion.singleValue">
                    and ${criterion.condition} #{criterion.value}
                  </when>
                  <when test="criterion.betweenValue">
                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                  </when>
                  <when test="criterion.listValue">
                    and ${criterion.condition}
                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                    </foreach>
                  </when>
                </choose>
              </foreach>
            </trim>
          </if>
        </foreach>
      </if>
      <if test="example.relMdCategoryId != null and example.relMdCategoryId != ''">
         and rel_md_category_id = #{example.relMdCategoryId,jdbcType=CHAR}
      </if>
      <if test="example.relMdCategoryIdRange != null and example.relMdCategoryIdRange != ''">
         and rel_md_category_id like concat('%',#{example.relMdCategoryIdRange},'%')
      </if>
      <if test="example.mdId != null and example.mdId != ''">
         and md_id = #{example.mdId,jdbcType=CHAR}
      </if>
      <if test="example.mdIdRange != null and example.mdIdRange != ''">
         and md_id like concat('%',#{example.mdIdRange},'%')
      </if>
      <if test="example.mdName != null and example.mdName != ''">
         and md_name = #{example.mdName,jdbcType=CHAR}
      </if>
      <if test="example.mdNameRange != null and example.mdNameRange != ''">
         and md_name like concat('%',#{example.mdNameRange},'%')
      </if>
      <if test="example.categoryId != null and example.categoryId != ''">
         and category_id = #{example.categoryId,jdbcType=CHAR}
      </if>
      <if test="example.categoryIdRange != null and example.categoryIdRange != ''">
         and category_id like concat('%',#{example.categoryIdRange},'%')
      </if>
      <if test="example.mdPhone != null and example.mdPhone != ''">
         and md_phone = #{example.mdPhone,jdbcType=CHAR}
      </if>
      <if test="example.mdPhoneRange != null and example.mdPhoneRange != ''">
         and md_phone like concat('%',#{example.mdPhoneRange},'%')
      </if>
      <if test="example.mdEmail != null and example.mdEmail != ''">
         and md_email = #{example.mdEmail,jdbcType=CHAR}
      </if>
      <if test="example.mdEmailRange != null and example.mdEmailRange != ''">
         and md_email like concat('%',#{example.mdEmailRange},'%')
      </if>
      <if test="example.createUser != null and example.createUser != ''">
         and create_user = #{example.createUser,jdbcType=CHAR}
      </if>
      <if test="example.createUserRange != null and example.createUserRange != ''">
         and create_user like concat('%',#{example.createUserRange},'%')
      </if>
      <if test="example.createTime != null and example.createTime != ''">
         and create_time = #{example.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.createTimeRange1 != null and example.createTimeRange1 != ''">
         and create_time &gt;= #{example.createTimeRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="example.createTimeRange2 != null and example.createTimeRange2 != ''">
         and create_time &lt;= #{example.createTimeRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="example.updateUser != null and example.updateUser != ''">
         and update_user = #{example.updateUser,jdbcType=CHAR}
      </if>
      <if test="example.updateUserRange != null and example.updateUserRange != ''">
         and update_user like concat('%',#{example.updateUserRange},'%')
      </if>
      <if test="example.updateTime != null and example.updateTime != ''">
         and update_time = #{example.updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.updateTimeRange1 != null and example.updateTimeRange1 != ''">
         and update_time &gt;= #{example.updateTimeRange1,jdbcType=TIMESTAMP}
      </if>
      <if test="example.updateTimeRange2 != null and example.updateTimeRange2 != ''">
         and update_time &lt;= #{example.updateTimeRange2,jdbcType=TIMESTAMP}
      </if>
      <if test="example.extracClause != null and example.extracClause != ''">
         and  ${example.extracClause} 
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rel_md_category_id, md_id, md_name, category_id, md_phone, md_email, create_user, 
    create_time, update_user, update_time
  </sql>
  <select id="selectByExample" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategoryCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from buss_rel_md_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from buss_rel_md_category
    where rel_md_category_id = #{relMdCategoryId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from buss_rel_md_category
    where rel_md_category_id = #{relMdCategoryId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategoryCriteria">
    delete from buss_rel_md_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategory">
    insert into buss_rel_md_category (rel_md_category_id, md_id, md_name, 
      category_id, md_phone, md_email, 
      create_user, create_time, update_user, 
      update_time)
    values (#{relMdCategoryId,jdbcType=CHAR}, #{mdId,jdbcType=CHAR}, #{mdName,jdbcType=CHAR}, 
      #{categoryId,jdbcType=CHAR}, #{mdPhone,jdbcType=CHAR}, #{mdEmail,jdbcType=CHAR}, 
      #{createUser,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=CHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategory">
    insert into buss_rel_md_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relMdCategoryId != null">
        rel_md_category_id,
      </if>
      <if test="mdId != null">
        md_id,
      </if>
      <if test="mdName != null">
        md_name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="mdPhone != null">
        md_phone,
      </if>
      <if test="mdEmail != null">
        md_email,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relMdCategoryId != null">
        #{relMdCategoryId,jdbcType=CHAR},
      </if>
      <if test="mdId != null">
        #{mdId,jdbcType=CHAR},
      </if>
      <if test="mdName != null">
        #{mdName,jdbcType=CHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=CHAR},
      </if>
      <if test="mdPhone != null">
        #{mdPhone,jdbcType=CHAR},
      </if>
      <if test="mdEmail != null">
        #{mdEmail,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategoryCriteria" resultType="java.lang.Long">
    select count(*) from buss_rel_md_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update buss_rel_md_category
    <set>
      <if test="record.relMdCategoryId != null">
        rel_md_category_id = #{record.relMdCategoryId,jdbcType=CHAR},
      </if>
      <if test="record.mdId != null">
        md_id = #{record.mdId,jdbcType=CHAR},
      </if>
      <if test="record.mdName != null">
        md_name = #{record.mdName,jdbcType=CHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=CHAR},
      </if>
      <if test="record.mdPhone != null">
        md_phone = #{record.mdPhone,jdbcType=CHAR},
      </if>
      <if test="record.mdEmail != null">
        md_email = #{record.mdEmail,jdbcType=CHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=CHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update buss_rel_md_category
    set rel_md_category_id = #{record.relMdCategoryId,jdbcType=CHAR},
      md_id = #{record.mdId,jdbcType=CHAR},
      md_name = #{record.mdName,jdbcType=CHAR},
      category_id = #{record.categoryId,jdbcType=CHAR},
      md_phone = #{record.mdPhone,jdbcType=CHAR},
      md_email = #{record.mdEmail,jdbcType=CHAR},
      create_user = #{record.createUser,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=CHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategory">
    update buss_rel_md_category
    <set>
      <if test="mdId != null">
        md_id = #{mdId,jdbcType=CHAR},
      </if>
      <if test="mdName != null">
        md_name = #{mdName,jdbcType=CHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=CHAR},
      </if>
      <if test="mdPhone != null">
        md_phone = #{mdPhone,jdbcType=CHAR},
      </if>
      <if test="mdEmail != null">
        md_email = #{mdEmail,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rel_md_category_id = #{relMdCategoryId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategory">
    update buss_rel_md_category
    set md_id = #{mdId,jdbcType=CHAR},
      md_name = #{mdName,jdbcType=CHAR},
      category_id = #{categoryId,jdbcType=CHAR},
      md_phone = #{mdPhone,jdbcType=CHAR},
      md_email = #{mdEmail,jdbcType=CHAR},
      create_user = #{createUser,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where rel_md_category_id = #{relMdCategoryId,jdbcType=CHAR}
  </update>
  <insert id="insertListSelective" parameterType="map">
    insert into buss_rel_md_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.relMdCategoryId != null">
        rel_md_category_id,
      </if>
      <if test="record.mdId != null">
        md_id,
      </if>
      <if test="record.mdName != null">
        md_name,
      </if>
      <if test="record.categoryId != null">
        category_id,
      </if>
      <if test="record.mdPhone != null">
        md_phone,
      </if>
      <if test="record.mdEmail != null">
        md_email,
      </if>
      <if test="record.createUser != null">
        create_user,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.updateUser != null">
        update_user,
      </if>
      <if test="record.updateTime != null">
        update_time,
      </if>
    </trim>
    <foreach close=" " collection="records" item="listItem" open="values " separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="record.relMdCategoryId != null">
          #{listItem.relMdCategoryId,jdbcType=CHAR},
        </if>
        <if test="record.mdId != null">
          #{listItem.mdId,jdbcType=CHAR},
        </if>
        <if test="record.mdName != null">
          #{listItem.mdName,jdbcType=CHAR},
        </if>
        <if test="record.categoryId != null">
          #{listItem.categoryId,jdbcType=CHAR},
        </if>
        <if test="record.mdPhone != null">
          #{listItem.mdPhone,jdbcType=CHAR},
        </if>
        <if test="record.mdEmail != null">
          #{listItem.mdEmail,jdbcType=CHAR},
        </if>
        <if test="record.createUser != null">
          #{listItem.createUser,jdbcType=CHAR},
        </if>
        <if test="record.createTime != null">
          #{listItem.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.updateUser != null">
          #{listItem.updateUser,jdbcType=CHAR},
        </if>
        <if test="record.updateTime != null">
          #{listItem.updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
  <insert id="replaceListSelective" parameterType="map">
    replace into buss_rel_md_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.relMdCategoryId != null">
        rel_md_category_id,
      </if>
      <if test="record.mdId != null">
        md_id,
      </if>
      <if test="record.mdName != null">
        md_name,
      </if>
      <if test="record.categoryId != null">
        category_id,
      </if>
      <if test="record.mdPhone != null">
        md_phone,
      </if>
      <if test="record.mdEmail != null">
        md_email,
      </if>
      <if test="record.createUser != null">
        create_user,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.updateUser != null">
        update_user,
      </if>
      <if test="record.updateTime != null">
        update_time,
      </if>
    </trim>
    <foreach close=" " collection="records" item="listItem" open="values " separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="record.relMdCategoryId != null">
          #{listItem.relMdCategoryId,jdbcType=CHAR},
        </if>
        <if test="record.mdId != null">
          #{listItem.mdId,jdbcType=CHAR},
        </if>
        <if test="record.mdName != null">
          #{listItem.mdName,jdbcType=CHAR},
        </if>
        <if test="record.categoryId != null">
          #{listItem.categoryId,jdbcType=CHAR},
        </if>
        <if test="record.mdPhone != null">
          #{listItem.mdPhone,jdbcType=CHAR},
        </if>
        <if test="record.mdEmail != null">
          #{listItem.mdEmail,jdbcType=CHAR},
        </if>
        <if test="record.createUser != null">
          #{listItem.createUser,jdbcType=CHAR},
        </if>
        <if test="record.createTime != null">
          #{listItem.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.updateUser != null">
          #{listItem.updateUser,jdbcType=CHAR},
        </if>
        <if test="record.updateTime != null">
          #{listItem.updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
  <insert id="replaceSelective" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategory">
    replace into buss_rel_md_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relMdCategoryId != null">
        rel_md_category_id,
      </if>
      <if test="mdId != null">
        md_id,
      </if>
      <if test="mdName != null">
        md_name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="mdPhone != null">
        md_phone,
      </if>
      <if test="mdEmail != null">
        md_email,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relMdCategoryId != null">
        #{relMdCategoryId,jdbcType=CHAR},
      </if>
      <if test="mdId != null">
        #{mdId,jdbcType=CHAR},
      </if>
      <if test="mdName != null">
        #{mdName,jdbcType=CHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=CHAR},
      </if>
      <if test="mdPhone != null">
        #{mdPhone,jdbcType=CHAR},
      </if>
      <if test="mdEmail != null">
        #{mdEmail,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertOnDuplicateKeySelective" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategory">
    insert into buss_rel_md_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="relMdCategoryId != null">
        rel_md_category_id,
      </if>
      <if test="mdId != null">
        md_id,
      </if>
      <if test="mdName != null">
        md_name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="mdPhone != null">
        md_phone,
      </if>
      <if test="mdEmail != null">
        md_email,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="relMdCategoryId != null">
        #{relMdCategoryId,jdbcType=CHAR},
      </if>
      <if test="mdId != null">
        #{mdId,jdbcType=CHAR},
      </if>
      <if test="mdName != null">
        #{mdName,jdbcType=CHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=CHAR},
      </if>
      <if test="mdPhone != null">
        #{mdPhone,jdbcType=CHAR},
      </if>
      <if test="mdEmail != null">
        #{mdEmail,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=CHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
     on duplicate key update 
    <trim suffixOverrides=",">
      <if test="relMdCategoryId != null">
        rel_md_category_id=values(rel_md_category_id),
      </if>
      <if test="mdId != null">
        md_id=values(md_id),
      </if>
      <if test="mdName != null">
        md_name=values(md_name),
      </if>
      <if test="categoryId != null">
        category_id=values(category_id),
      </if>
      <if test="mdPhone != null">
        md_phone=values(md_phone),
      </if>
      <if test="mdEmail != null">
        md_email=values(md_email),
      </if>
      <if test="createUser != null">
        create_user=values(create_user),
      </if>
      <if test="createTime != null">
        create_time=values(create_time),
      </if>
      <if test="updateUser != null">
        update_user=values(update_user),
      </if>
      <if test="updateTime != null">
        update_time=values(update_time),
      </if>
    </trim>
  </insert>
  <insert id="insertListOnDuplicateKeySelective" parameterType="map">
    insert into buss_rel_md_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.relMdCategoryId != null">
        rel_md_category_id,
      </if>
      <if test="record.mdId != null">
        md_id,
      </if>
      <if test="record.mdName != null">
        md_name,
      </if>
      <if test="record.categoryId != null">
        category_id,
      </if>
      <if test="record.mdPhone != null">
        md_phone,
      </if>
      <if test="record.mdEmail != null">
        md_email,
      </if>
      <if test="record.createUser != null">
        create_user,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.updateUser != null">
        update_user,
      </if>
      <if test="record.updateTime != null">
        update_time,
      </if>
    </trim>
    <foreach close=" " collection="records" item="listItem" open="values " separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="record.relMdCategoryId != null">
          #{listItem.relMdCategoryId,jdbcType=CHAR},
        </if>
        <if test="record.mdId != null">
          #{listItem.mdId,jdbcType=CHAR},
        </if>
        <if test="record.mdName != null">
          #{listItem.mdName,jdbcType=CHAR},
        </if>
        <if test="record.categoryId != null">
          #{listItem.categoryId,jdbcType=CHAR},
        </if>
        <if test="record.mdPhone != null">
          #{listItem.mdPhone,jdbcType=CHAR},
        </if>
        <if test="record.mdEmail != null">
          #{listItem.mdEmail,jdbcType=CHAR},
        </if>
        <if test="record.createUser != null">
          #{listItem.createUser,jdbcType=CHAR},
        </if>
        <if test="record.createTime != null">
          #{listItem.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.updateUser != null">
          #{listItem.updateUser,jdbcType=CHAR},
        </if>
        <if test="record.updateTime != null">
          #{listItem.updateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
     on duplicate key update 
    <trim suffixOverrides=",">
      <if test="record.relMdCategoryId != null">
        rel_md_category_id=values(rel_md_category_id),
      </if>
      <if test="record.mdId != null">
        md_id=values(md_id),
      </if>
      <if test="record.mdName != null">
        md_name=values(md_name),
      </if>
      <if test="record.categoryId != null">
        category_id=values(category_id),
      </if>
      <if test="record.mdPhone != null">
        md_phone=values(md_phone),
      </if>
      <if test="record.mdEmail != null">
        md_email=values(md_email),
      </if>
      <if test="record.createUser != null">
        create_user=values(create_user),
      </if>
      <if test="record.createTime != null">
        create_time=values(create_time),
      </if>
      <if test="record.updateUser != null">
        update_user=values(update_user),
      </if>
      <if test="record.updateTime != null">
        update_time=values(update_time),
      </if>
    </trim>
  </insert>
  <select id="listPage" parameterType="com.rhtop.buss.common.dao.domain.RelMdCategoryCriteria" resultMap="BaseResultMap">
    select
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from buss_rel_md_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>